@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi+2:500&display=swap');

body {
    font-family: 'Baloo Thambi 2', cursive;
}
.navbar {
    position: relative;
    height: 100px;
    background: #C6FFDD;
    background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);

    background-size: cover;
}
.brand {
    position: absolute;
    left: 50%;
    margin-left: -50px !important;
    display: block;
}
.logo {
    width: 40%;
}

.photos {
    margin-top: 100px;
    margin-bottom: 100px;
}
.copy {
    font-size: 12px;
}
.nav-contact {
    color: #FFC19D;
    background-color: #fff;
    border-radius: 9px;
    font-size: 13px;
    letter-spacing: 0.6px;
    padding: 4px;
}
.card {
    border: 0!Important;
    border-radius: 0!Important;
}
.navbar-nav .nav-link {
    padding-right: 10px;
    padding-left: 10px;
}





@media (max-width: 767px) {
    .logo {
        width: 35%;
    }
    .photos {
        margin-top: 35px;
        margin-bottom: 35px;
    }
}